.introduction {
  min-height: 100svh;
  padding-top: 10rem;
}

.large {
  font-size: 4.2rem;
  display: inline;
}

.accent {
  color: var(--accent-color);
}

.bold {
  color: var(--bold-black);
}

.textbox {
  width: 30rem;
}