.introduction {
  min-height: 100svh;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
}

.large {
  font-size: 4.2rem;
  display: inline;
}

.accent {
  color: var(--accent-color);
}

.bold {
  color: var(--bold-black);
}

.textbox {
  width: 30rem;
}

.centerAlign {
  align-self: center;
}
@media screen and (max-width: 500px) {

  
}