.projectContainer {
  position: relative;
  padding-top: 5rem;
}

.projectContents {
  display: flex;
  margin-bottom: 5rem;
  gap: 1rem;
}

.informationContainer {
  display: flex;
  flex-direction: column;
  width: 20rem;
  gap: 3rem;
}

.projectImage {
  height: 25rem;
  width: auto;
}

.logo {
  height: 10rem;
  width: 10rem;
  transition: filter 0.5s;
  position: absolute;
  right: 0;
  top: 0;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--accent-color));
}

.linkIcon {
  height: 1.6rem;
  color: var(--accent-color);
}

.techStack {
  display: flex;
  gap: 1rem;
}

.techStack > * {
  color: var(--sub-text-color);
}

.links {
  display: flex;
  gap: 1rem;
}

.subtext {
  color: var(--sub-text-color);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}