.projectContainer {
  display: flex
}

.informationContainer {
  display: flex;
  flex-direction: column;
}

.projectImage {
  height: 25rem;
  width: auto;
}

.logo {
  height: 10rem;
  width: 10rem;
}