.techStackSection {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techStack {
  display: flex;
  gap: 2rem;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.techTitle {
  color: var(--sub-text-color);
  font-size: 80%;
}

@media screen and (max-width: 500px) {
  .techStack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  
}