.header {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  width: 100%;
  position: fixed;
  right: 0;
  padding-top: 2rem;
  padding-right: 2rem;
  z-index: 2;
}

.navbar {
  display: flex;
  height: 2rem;
  gap: 2rem;
  background-color: white;
}

.navbar > p {
  color: var(--sub-accent-color);
  align-self: center;
  transition: color 0.3s;
}

.navbar > p:hover {
  cursor: pointer;
  color: var(--accent-color);
}

@media screen and (max-width: 500px) {

.navbar > * {
  font-size: 80%;
}
  
}