:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  --accent-color: rgb(43, 74, 255);
  --sub-accent-color: rgb(46, 168, 255);
  --bold-black: black;
  --sub-text-color: #788590;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body, * {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: var(--sub-accent-color);
  text-decoration: inherit;
  display: inline;
  transition: color 0.2s;
}
a:hover {
  color: var(--accent-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: clamp(1.5em, 3.2em, 3.2em) ;
  line-height: 1.1;
  padding-bottom: 1.5rem;
}

h2 {
  font-size: clamp(1.2rem, 2.2rem, 2.2rem);
  padding-block: 1rem;
}

h3 {
  font-size: clamp(0.8rem, 1.8rem, 1.8rem);
}

button {
  border-radius: 8px;
  border: 1px solid var(--sub-accent-color);
  color: var(--accent-color);
  padding: 0 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent-color);
}